In [1]:
import pandas as pd
import numpy as np

### Test reading first

In [5]:
# df = pd.read_csv('../Datasets/Full/all_results_test.csv',
#                  dtype={'citi_id': int, 'Date': str, "Fasting": float},
#                  index_col=[0],
#                 parse_dates=['Date'])
df = pd.read_csv('../Datasets/Full/all_results_test.csv',
                 index_col=[0])

In [6]:
df.head()

    citi_id      Date      Fasting
0.0    2960  1/1/2019  11.48934384
1.0    2960  1/2/2019  11.49779764
2.0    2960  1/3/2019  11.50699453
3.0    2960  1/4/2019  11.51692784
4.0    2960  1/5/2019  11.52759042

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 368 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    368 non-null object
Date       368 non-null object
Fasting    368 non-null object
dtypes: object(3)
memory usage: 11.5+ KB

In [8]:
df.citi_id = pd.to_numeric(df.citi_id, errors='coerce')
df.Date = pd.to_datetime(df.Date, errors='coerce')
df.Fasting = pd.to_numeric(df.Fasting, errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 368 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    365 non-null float64
Date       365 non-null datetime64[ns]
Fasting    365 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 11.5 KB

In [11]:
df.dropna(inplace=True)

In [12]:
df.citi_id =df.citi_id.astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 365 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    365 non-null int32
Date       365 non-null datetime64[ns]
Fasting    365 non-null float64
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 10.0 KB

### Reading the full dataset

In [14]:
df = pd.read_csv('../Datasets/Full/all_results.csv',
                 index_col=[0])
df.citi_id = pd.to_numeric(df.citi_id, errors='coerce')
df.Date = pd.to_datetime(df.Date, errors='coerce')
df.Fasting = pd.to_numeric(df.Fasting, errors='coerce')
df.dropna(inplace=True)
df.citi_id =df.citi_id.astype(int)
df.head()

C:\Users\Drnes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     citi_id       Date    Fasting
0.0     2960 2019-01-01  11.489344
1.0     2960 2019-01-02  11.497798
2.0     2960 2019-01-03  11.506995
3.0     2960 2019-01-04  11.516928
4.0     2960 2019-01-05  11.527590

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53146774 entries, 0.0 to 364
Data columns (total 3 columns):
citi_id    int32
Date       datetime64[ns]
Fasting    float64
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 1.4+ GB

In [17]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
citi_id,53146774.0,3.317375e+06,2.215669e+06,2960.000000,1.794733e+06,2.968220e+06,4.013579e+06,1.100285e+07
Fasting,53146774.0,1.381328e+01,2.362887e+00,4.296197,1.223946e+01,1.344104e+01,1.517764e+01,2.394721e+01

In [21]:
df.Fasting.describe().to_frame().T

,count,mean,std,min,25%,50%,75%,max
Fasting,53146774.0,13.813282,2.362887,4.296197,12.239461,13.441043,15.177638,23.947205