In [1]:
import pandas as pd
import numpy as np

### Test reading first

In [5]:
# df = pd.read_csv('../Datasets/Full/all_results_test.csv',
#                  dtype={'citi_id': int, 'Date': str, "Fasting": float},
#                  index_col=[0],
#                 parse_dates=['Date'])
df = pd.read_csv('../Datasets/Full/all_results_test.csv',
                 index_col=[0])

In [6]:
df.head()

    citi_id      Date      Fasting
0.0    2960  1/1/2019  11.48934384
1.0    2960  1/2/2019  11.49779764
2.0    2960  1/3/2019  11.50699453
3.0    2960  1/4/2019  11.51692784
4.0    2960  1/5/2019  11.52759042

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 368 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    368 non-null object
Date       368 non-null object
Fasting    368 non-null object
dtypes: object(3)
memory usage: 11.5+ KB

In [8]:
df.citi_id = pd.to_numeric(df.citi_id, errors='coerce')
df.Date = pd.to_datetime(df.Date, errors='coerce')
df.Fasting = pd.to_numeric(df.Fasting, errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 368 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    365 non-null float64
Date       365 non-null datetime64[ns]
Fasting    365 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 11.5 KB

In [11]:
df.dropna(inplace=True)

In [12]:
df.citi_id =df.citi_id.astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 365 entries, 0.0 to 364.0
Data columns (total 3 columns):
citi_id    365 non-null int32
Date       365 non-null datetime64[ns]
Fasting    365 non-null float64
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 10.0 KB

### Reading the full dataset

In [14]:
df = pd.read_csv('../Datasets/Full/all_results.csv',
                 index_col=[0])
df.citi_id = pd.to_numeric(df.citi_id, errors='coerce')
df.Date = pd.to_datetime(df.Date, errors='coerce')
df.Fasting = pd.to_numeric(df.Fasting, errors='coerce')
df.dropna(inplace=True)
df.citi_id =df.citi_id.astype(int)
df.head()

C:\Users\Drnes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     citi_id       Date    Fasting
0.0     2960 2019-01-01  11.489344
1.0     2960 2019-01-02  11.497798
2.0     2960 2019-01-03  11.506995
3.0     2960 2019-01-04  11.516928
4.0     2960 2019-01-05  11.527590

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53146774 entries, 0.0 to 364
Data columns (total 3 columns):
citi_id    int32
Date       datetime64[ns]
Fasting    float64
dtypes: datetime64[ns](1), float64(1), int32(1)
memory usage: 1.4+ GB

In [17]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
citi_id,53146774.0,3.317375e+06,2.215669e+06,2960.000000,1.794733e+06,2.968220e+06,4.013579e+06,1.100285e+07
Fasting,53146774.0,1.381328e+01,2.362887e+00,4.296197,1.223946e+01,1.344104e+01,1.517764e+01,2.394721e+01

In [21]:
df.Fasting.describe().to_frame().T

,count,mean,std,min,25%,50%,75%,max
Fasting,53146774.0,13.813282,2.362887,4.296197,12.239461,13.441043,15.177638,23.947205

In [22]:
# Saving the new dataframe
df.to_csv('../Datasets/Full/all_results.csv', index=False)

In [23]:
# Saving the new dataframe COMPRESSED
df.to_csv('../Datasets/Full/all_results2.zip', index=False)

In [24]:
# reading the city country dataset
cdf = pd.read_csv('../Datasets/AllCities.csv')
cdf.head()

,id,country,city_name,lat,lng,alt,population,utc,mazhab
0,2960,SY,`Ayn Halaqim,34.93998,36.32212,596,0,2.0,3
1,4273,SY,Al Karamah,35.86865,39.27803,244,0,2.0,3
2,5174,SY,`Ariqah,32.88981,36.48336,804,0,2.0,3
3,9904,IR,Shahrak,36.17449,50.76908,1823,0,3.5,6
4,10570,IR,Alvand,36.18930,50.06430,1243,0,3.5,6

In [26]:
countries = cdf[['id', 'country']]
countries.head()

      id country
0   2960      SY
1   4273      SY
2   5174      SY
3   9904      IR
4  10570      IR

In [29]:
countries.set_index('id').head()

      country
id
2960       SY
4273       SY
5174       SY
9904       IR
10570      IR

In [30]:
result = pd.concat([df.set_index('citi_id'), countries.set_index('id')], axis=1)#, ignore_index=True)
result.head()

           Date    Fasting country
2960 2019-01-01  11.489344      SY
2960 2019-01-02  11.497798      SY
2960 2019-01-03  11.506995      SY
2960 2019-01-04  11.516928      SY
2960 2019-01-05  11.527590      SY

In [33]:
result2 = result.reset_index()
result2.head()

   index       Date    Fasting country
0   2960 2019-01-01  11.489344      SY
1   2960 2019-01-02  11.497798      SY
2   2960 2019-01-03  11.506995      SY
3   2960 2019-01-04  11.516928      SY
4   2960 2019-01-05  11.527590      SY

In [42]:
conc = result2.groupby(['country', 'Date'])['Fasting'].agg(['min', 'max', 'mean', 'median', 'std'])

In [45]:
conc.head()

                          min        max       mean     median       std
country Date
AD      2019-01-01  10.814271  10.823414  10.817579  10.817088  0.002827
        2019-01-02  10.825988  10.835076  10.829275  10.828787  0.002811
        2019-01-03  10.838720  10.847750  10.841987  10.841502  0.002793
        2019-01-04  10.852459  10.861426  10.855703  10.855221  0.002773
        2019-01-05  10.867192  10.876092  10.870412  10.869934  0.002752

In [50]:
conc.columns = [f'fd_{col}' for col in conc.columns.values]
conc.columns

Index(['fd_min', 'fd_max', 'fd_mean', 'fd_median', 'fd_std'], dtype='object')

In [51]:
conc.reset_index(inplace=True)
conc.head()

  country       Date     fd_min     fd_max    fd_mean  fd_median    fd_std
0      AD 2019-01-01  10.814271  10.823414  10.817579  10.817088  0.002827
1      AD 2019-01-02  10.825988  10.835076  10.829275  10.828787  0.002811
2      AD 2019-01-03  10.838720  10.847750  10.841987  10.841502  0.002793
3      AD 2019-01-04  10.852459  10.861426  10.855703  10.855221  0.002773
4      AD 2019-01-05  10.867192  10.876092  10.870412  10.869934  0.002752

In [52]:
conc.describe()

             fd_min        fd_max       fd_mean     fd_median        fd_std
count  89048.000000  89048.000000  89048.000000  89048.000000  8.261600e+04
mean      13.482383     13.887837     13.671313     13.669611  9.417080e-02
std        1.933976      2.155645      1.940573      1.934570  1.658445e-01
min        4.296197      6.176016      6.176016      6.176016  9.440692e-07
25%       12.663739     12.832456     12.732530     12.731724  1.084450e-02
50%       13.287362     13.417201     13.345961     13.344743  4.126357e-02
75%       14.093849     14.403650     14.250015     14.244971  1.037963e-01
max       23.602429     23.947205     23.602429     23.602429  2.119213e+00

In [53]:
conc.to_csv('../Datasets/ByCountryFastingDurations.csv', index=False)