In [1]:
import numpy as np
import pandas as pd

In [2]:
src1='../Datasets/AllCities.csv'
src2='../Datasets/FUll/all_results2.zip'

In [3]:
cities = pd.read_csv(src1)
cities.head(1)

,id,country,city_name,lat,lng,alt,population,utc,mazhab
0,2960,SY,`Ayn Halaqim,34.93998,36.32212,596,0,2.0,3

In [4]:
fasting = pd.read_csv(src2)
fasting.head(1)

   citi_id        Date    Fasting
0     2960  2019-01-01  11.489344

In [7]:
Makkah = cities[(cities.country=='SA')&(cities.city_name=='Mecca')]
Makkah

,id,country,city_name,lat,lng,alt,population,utc,mazhab
439,104515,SA,Mecca,21.42664,39.82563,333,1323624,3.0,4

In [15]:
Makkah_id = Makkah.id.tolist()[0]
Makkah_id

104515

In [18]:
Makkah_df = fasting[fasting.citi_id==Makkah_id]
Makkah_df.sample(3)

        citi_id        Date    Fasting
160351   104515  2019-04-27  14.199409
160294   104515  2019-03-01  12.986552
160247   104515  2019-01-13  12.290947

In [19]:
Makkah_df['D'] = pd.DatetimeIndex(Makkah_df.Date).day
Makkah_df['M'] = pd.DatetimeIndex(Makkah_df.Date).month
Makkah_df.sample(3)

C:\Users\Drnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Drnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        citi_id        Date    Fasting   D   M
160580   104515  2019-12-12  12.210860  12  12
160353   104515  2019-04-29  14.241147  29   4
160247   104515  2019-01-13  12.290947  13   1

In [36]:
Makkah_df2 = Makkah_df[Makkah_df.D.isin([1,7,15,23])]
display(Makkah_df2.sample(3), Makkah_df2.shape)

        citi_id        Date    Fasting   D  M
160325   104515  2019-04-01  13.633283   1  4
160430   104515  2019-07-15  14.755609  15  7
160369   104515  2019-05-15  14.549266  15  5

(48, 5)

In [37]:
day_dict = {1: 0, 7: 0.25, 15: 0.5, 23: 0.75}
Makkah_df2['Animation'] = Makkah_df2.apply(lambda row: row.M+day_dict[row.D], axis=1)
Makkah_df2['Anim'] = Makkah_df2.apply(lambda row: row.M*100+row.D, axis=1)
Makkah_df2.sample(3)

C:\Users\Drnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Drnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        citi_id        Date    Fasting   D   M  Animation  Anim
160386   104515  2019-06-01  14.793379   1   6       6.00   601
160308   104515  2019-03-15  13.268491  15   3       3.50   315
160575   104515  2019-12-07  12.234908   7  12      12.25  1207

In [34]:
# Makkah_df2.assign(Anim=0)
# Makkah_df2['Anim'] = Makkah_df2.apply(lambda row: row.M+day_dict[row.D], axis=1)

In [38]:
def convert_time(float_time):
    int_part=int(float_time)
    minutes_part=int((float_time-int_part)*60)
    return f'{int_part:02d}:{minutes_part:02d}'

Makkah_df2['MakkahFasting']= Makkah_df2.Fasting.apply(convert_time)
Makkah_df2.sample(5)

C:\Users\Drnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        citi_id        Date    Fasting   D   M  Animation  Anim MakkahFasting
160257   104515  2019-01-23  12.393009  23   1       1.75   123         12:23
160249   104515  2019-01-15  12.308772  15   1       1.50   115         12:18
160300   104515  2019-03-07  13.104735   7   3       3.25   307         13:06
160235   104515  2019-01-01  12.213980   1   1       1.00   101         12:12
160553   104515  2019-11-15  12.443450  15  11      11.50  1115         12:26

In [57]:
Makkah_df2.shape

(48, 8)

In [58]:
# Get the other dataset
df6= pd.read_csv('../Datasets/QuarterlyPeaks.csv')
df6.head(1)

,Anim,min_fd,max_fd,world_avg_fd,SaudiaAvgDuration,MinCntryIso3,MaxCntryIso3,MinCntryName,MaxCntryName
0,101,4.582942,20.598683,12.358328,12:03,NOR,ARG,Norway,Argentina

In [59]:
df6.shape

(48, 9)

In [60]:
df7 = pd.merge(Makkah_df2, df6, on='Anim')
df7.head()

,citi_id,Date,Fasting,D,M,Animation,Anim,MakkahFasting,min_fd,max_fd,world_avg_fd,SaudiaAvgDuration,MinCntryIso3,MaxCntryIso3,MinCntryName,MaxCntryName
0,104515,2019-01-01,12.213980,1,1,1.00,101,12:12,4.582942,20.598683,12.358328,12:03,NOR,ARG,Norway,Argentina
1,104515,2019-01-07,12.245843,7,1,1.25,107,12:14,4.573672,20.507658,12.389857,12:05,NOR,ARG,Norway,Argentina
2,104515,2019-01-15,12.308772,15,1,1.50,115,12:18,4.556484,20.335225,12.449423,12:09,NOR,ARG,Norway,Argentina
3,104515,2019-01-23,12.393009,23,1,1.75,123,12:23,5.427003,20.116418,12.506612,12:15,NOR,ARG,Norway,Argentina
4,104515,2019-02-01,12.510025,1,2,2.00,201,12:30,6.385432,19.574198,12.623481,12:24,GRL,ARG,Greenland,Argentina

In [61]:
# list(df7)

In [62]:
df7 = df7[['Anim',
           'min_fd', 'Fasting',
           'max_fd',
           'world_avg_fd',
           'SaudiaAvgDuration',
           'MakkahFasting',
           'MinCntryIso3',
           'MaxCntryIso3',
           'MinCntryName',
           'MaxCntryName']].rename(columns={'Fasting': 'MakkahAvg', 'MakkahFasting': 'MakkahDuration'})
df7.head()

,Anim,min_fd,MakkahAvg,max_fd,world_avg_fd,SaudiaAvgDuration,MakkahDuration,MinCntryIso3,MaxCntryIso3,MinCntryName,MaxCntryName
0,101,4.582942,12.213980,20.598683,12.358328,12:03,12:12,NOR,ARG,Norway,Argentina
1,107,4.573672,12.245843,20.507658,12.389857,12:05,12:14,NOR,ARG,Norway,Argentina
2,115,4.556484,12.308772,20.335225,12.449423,12:09,12:18,NOR,ARG,Norway,Argentina
3,123,5.427003,12.393009,20.116418,12.506612,12:15,12:23,NOR,ARG,Norway,Argentina
4,201,6.385432,12.510025,19.574198,12.623481,12:24,12:30,GRL,ARG,Greenland,Argentina

In [63]:
df7['WorldMin']= df7.min_fd.apply(convert_time)
df7['WorldMax']= df7.max_fd.apply(convert_time)
df7['WorldAvg']= df7.world_avg_fd.apply(convert_time)
df7.head()

,Anim,min_fd,MakkahAvg,max_fd,world_avg_fd,SaudiaAvgDuration,MakkahDuration,MinCntryIso3,MaxCntryIso3,MinCntryName,MaxCntryName,WorldMin,WorldMax,WorldAvg
0,101,4.582942,12.213980,20.598683,12.358328,12:03,12:12,NOR,ARG,Norway,Argentina,04:34,20:35,12:21
1,107,4.573672,12.245843,20.507658,12.389857,12:05,12:14,NOR,ARG,Norway,Argentina,04:34,20:30,12:23
2,115,4.556484,12.308772,20.335225,12.449423,12:09,12:18,NOR,ARG,Norway,Argentina,04:33,20:20,12:26
3,123,5.427003,12.393009,20.116418,12.506612,12:15,12:23,NOR,ARG,Norway,Argentina,05:25,20:06,12:30
4,201,6.385432,12.510025,19.574198,12.623481,12:24,12:30,GRL,ARG,Greenland,Argentina,06:23,19:34,12:37

In [64]:
# list(df7)

In [66]:
df8 = df7[['Anim', 'WorldMin', 'WorldAvg', 'MakkahDuration', 'WorldMax',
           'MinCntryIso3', 'MaxCntryIso3', 'MinCntryName', 'MaxCntryName',
           ]]
df8, df8.shape

(    Anim WorldMin WorldAvg MakkahDuration WorldMax MinCntryIso3 MaxCntryIso3  \
 0    101    04:34    12:21          12:12    20:35          NOR          ARG
 1    107    04:34    12:23          12:14    20:30          NOR          ARG
 2    115    04:33    12:26          12:18    20:20          NOR          ARG
 3    123    05:25    12:30          12:23    20:06          NOR          ARG
 4    201    06:23    12:37          12:30    19:34          GRL          ARG
 5    207    07:41    12:42          12:35    18:20          GRL          ARG
 6    215    07:54    12:50          12:43    17:21          SJM          ARG
 7    223    10:34    13:01          12:52    22:11          GRL          ATA
 8    301    11:36    13:07          12:59    20:58          GRL          ATA
 9    307    12:28    13:15          13:06    20:03          SWE          ATA
 10   315    12:48    13:24          13:16    18:59          GRD          ATA
 11   323    12:54    13:35          13:26    18:35          GRD          SJM
 12   401    13:00    13:47          13:37    19:47          GRD          SJM
 13   407    12:50    13:55          13:45    20:40          NZL          SJM
 14   415    11:56    14:06          13:56    22:14          ATA          SJM
 15   423    09:06    14:17          14:06    21:31          ATA          RUS
 16   501    11:15    14:31          14:16    22:53          ARG          RUS
 17   507    10:54    14:39          14:24    23:07          ARG          RUS
 18   515    10:29    14:48          14:32    23:40          ARG          NOR
 19   523    10:07    14:57          14:40    23:46          ARG          NOR
 20   601    09:48    15:05          14:47    23:44          ARG          FIN
 21   607    09:38    15:10          14:50    23:47          ARG          SWE
 22   615    09:31    15:13          14:53    23:54          ARG          SWE
 23   623    09:29    15:14          14:54    23:56          ARG          RUS
 24   701    09:34    15:12          14:52    23:51          ARG          RUS
 25   707    09:41    15:09          14:50    23:47          ARG          RUS
 26   715    09:55    15:03          14:45    23:42          ARG          RUS
 27   723    10:15    14:55          14:38    23:41          ARG          NOR
 28   801    10:41    14:46          14:29    23:37          ARG          NOR
 29   807    11:00    14:38          14:22    22:54          ARG          RUS
 30   815    11:29    14:26          14:13    22:17          ARG          RUS
 31   823    10:05    14:13          14:03    21:11          ATA          RUS
 32   901    12:37    14:00          13:51    21:21          SGS          SJM
 33   907    12:56    13:52          13:43    20:22          NZL          SJM
 34   915    12:57    13:42          13:33    19:16          GRD          SJM
 35   923    12:52    13:31          13:23    18:15          GRD          SJM
 36  1001    12:46    13:21          13:13    19:12          FRA          ATA
 37  1007    12:25    13:14          13:05    20:00          GRL          ATA
 38  1015    11:08    13:05          12:56    21:14          GRL          ATA
 39  1023    09:45    12:54          12:47    16:58          GRL          ARG
 40  1101    08:08    12:45          12:38    17:58          GRL          ARG
 41  1107    06:56    12:39          12:33    18:50          GRL          ARG
 42  1115    06:19    12:33          12:26    20:00          NOR          ARG
 43  1123    04:55    12:29          12:20    20:14          NOR          ARG
 44  1201    04:45    12:24          12:16    20:26          NOR          ARG
 45  1207    04:36    12:22          12:14    20:32          NOR          ARG
 46  1215    04:29    12:20          12:12    20:38          NOR          ARG
 47  1223    04:30    12:20          12:11    20:39          NOR          ARG

                                     MinCntryName              MaxCntryName
 0                                         Norway                 Argentina
 1                                         Norway                 Argentina
 2                                         Norway                 Argentina
 3                                         Norway                 Argentina
 4                                      Greenland                 Argentina
 5                                      Greenland                 Argentina
 6                         Svalbard and Jan Mayen                 Argentina
 7                                      Greenland                Antarctica
 8                                      Greenland                Antarctica
 9                                         Sweden                Antarctica
 10                                       Grenada                Antarctica
 11                                       Grenada    Svalbard and Jan Mayen
 12                                       Grenada    Svalbard and Jan Mayen
 13                                   New Zealand    Svalbard and Jan Mayen
 14                                    Antarctica    Svalbard and Jan Mayen
 15                                    Antarctica  Russian Federation (the)
 16                                     Argentina  Russian Federation (the)
 17                                     Argentina  Russian Federation (the)
 18                                     Argentina                    Norway
 19                                     Argentina                    Norway
 20                                     Argentina                   Finland
 21                                     Argentina                    Sweden
 22                                     Argentina                    Sweden
 23                                     Argentina  Russian Federation (the)
 24                                     Argentina  Russian Federation (the)
 25                                     Argentina  Russian Federation (the)
 26                                     Argentina  Russian Federation (the)
 27                                     Argentina                    Norway
 28                                     Argentina                    Norway
 29                                     Argentina  Russian Federation (the)
 30                                     Argentina  Russian Federation (the)
 31                                    Antarctica  Russian Federation (the)
 32  South Georgia and the South Sandwich Islands    Svalbard and Jan Mayen
 33                                   New Zealand    Svalbard and Jan Mayen
 34                                       Grenada    Svalbard and Jan Mayen
 35                                       Grenada    Svalbard and Jan Mayen
 36                                        France                Antarctica
 37                                     Greenland                Antarctica
 38                                     Greenland                Antarctica
 39                                     Greenland                 Argentina
 40                                     Greenland                 Argentina
 41                                     Greenland                 Argentina
 42                                        Norway                 Argentina
 43                                        Norway                 Argentina
 44                                        Norway                 Argentina
 45                                        Norway                 Argentina
 46                                        Norway                 Argentina
 47                                        Norway                 Argentina  ,
 (48, 9))

In [67]:
df8.to_csv('../Datasets/FinalSummaryMakkah.csv', index=False)